extends layout

block content
    h1 Inscription
    form(action="/author/inscription" method="POST")
      section
        fieldset
          legend Formulaire d'inscription 
          p_form
            label(for="pseudo") Pseudo : 
            input(type="text" id="pseudo" name="pseudo")
          p_form  
            label(for="motDePasse") Mot de passe : 
            input(type="password" id="motDePasse" name="motDePasse") 
          p_form
            label(for="nom") Nom : 
            input(type="text" id="nom" name="nom")
          p_form
            label(for="prenom") Prenom : 
            input(type="text" id="prenom" name="prenom") 
          p_form
            label(for="email") Addresse Mail : 
            input(type="email" id="email" name="email") 
          p_form
            label(for="age") Age : 
            input(type="number" id="age" name="age")
          p_form
            label(for="birthdate") Date de Naissance : 
            input(type="date" id="birthdate" name="birthdate") 
          p_form
            label(for="nationnalite") Nationnalité : 
            input(type="text" id="nationnalite" name="nationnalite") 
      section
        p
          button(type="submit") Inscription
