extends layout.pug

block content
  h1 Résultats de la recherche

  if passengers.length > 0
    ul
      each passenger in passengers
        li= passenger.Name

  else
    p Aucun passager ne correspond à votre recherche.
