extends layout

block content
  h1 Résultats de la recherche
  canvas(id="barChart")
  canvas(id="barChart2")

  if passengers.length > 0
    ul
      each passenger in passengers
        li= `${passenger.Name}, ${passenger.Age}`

  else
    p Aucun passager ne correspond à votre recherche.

  button(type="button", id="resetButton") Reset

  // fichier JavaScript barGraph.js
  script(src="barGraph.js")
    
  // appel de la fonction createBarChart avec les données passées
  script.
    const labels = ['Survivants', 'Non-survivants'];
    const chartData = !{JSON.stringify(chartData)}; //
    createBarChart(labels, chartData, "barChart");
    const labels2 = ['Moyenne d\'age survivant', 'Moyenne d\'age Non-survivants'];
    const chartData2 = !{JSON.stringify(chartData2)}; //
    createBarChart(labels2, chartData2, "barChart2");


    
