extends layout

block content
  h1 Résultats de la recherche
  canvas(id="barChart")

  if passengers.length > 0
    ul
      each passenger in passengers
        li= `${passenger.Name}, ${passenger.Age}`

  else
    p Aucun passager ne correspond à votre recherche.

  button(type="button", id="resetButton") Reset

  // fichier JavaScript barGraph.js
  script(src="barGraph.js")
    
  // appel de la fonction createBarChart avec les données passées
  script.
    const labels = ['Survivants', 'Non-survivants'];
    const chartData = !{JSON.stringify(chartData)}; //
    createBarChart(labels, chartData);


    
